/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.env
backend/.env
backend/node_modules

docs-backend
docs-frontend
/mcp/node_modules/
/mcp/dist/
/agentic-ai/node_modules/
/agentic-ai/dist/
/deployment-control/node_modules/
